//Заголовок регистрации

.reg {
    background: $bg-header;

    &__header {
        height: 148px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & h1 {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $site-color;
        text-transform: uppercase;
    }
}

//Регистрация
.registration {
    display: flex;
    margin: 64px auto 96px;
}

//Форма регистрации
.reg__input {
    flex-grow: 1;

    & .reg__submit {
        display: flex;
        width: fit-content;
        align-items: center;
        padding: 16px 29px 16px 29px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        cursor: pointer;
        background: $site-color;
        border: none;
        text-transform: uppercase;

        &:hover {
            background: #E05C6E;
            transition: background 0.2s;
        }

        &:focus {
            outline: none;
            background: #E05C6E;
        }

        & .icon__submit {
            margin: 0 0 0 20px;
        }
    }

    & .reg__form {
        display: flex;
        flex-direction: column;

        & h4 {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            margin: 0 0 20px 0;
        }

        & .input__name,
        .input__mail {
            margin: 0 0 20px 0;
            @include input-area;

            &:focus::placeholder {
                visibility: hidden;
            }
        }

        & .input__last,
        .input__pass {
            @include input-area;

            &:focus::placeholder {
                visibility: hidden;
            }
        }

        & .check__gender {
            margin: 31px 0 31px 0;
        }

        & .check__label {
            margin: 0 20px 0 10px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 13px;
            color: #000000;
        }

        & p {
            margin: 15px 0 39px 0;
            max-width: 360px;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
        }
    }
}

//Тескт регистрации
.reg__info {
    max-width: 652px;
    margin: 0 0 0 22px;

    & h2 {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin: 0 0 22px 0;
        text-transform: uppercase;
    }

    & p {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin: 0 0 16px 0;

        &:first-of-type {
            margin: 0 0 21px 0;
        }
    }

    & .icon__text {
        font-size: 18px;
        margin: 0 22px 0 0;
    }
}